@media (max-width: 760px) {
  .contactUs-container {
    grid-template-columns: 1fr;
  }
  .contactUs-content {
      display: flex;
      gap: 20px; 
      justify-content: center;
      text-align: center; 
      
  }
}